body {
  background-color: #008080; 
  font-family: 'Courier New', Courier, monospace; 
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.home {
  background-color: #c0c0c0; 
  width: 350px;
  padding: 10px;
  
  border-top: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  border-right: 2px solid #000000;
  border-bottom: 2px solid #000000;
  box-shadow: 2px 2px 0 #808080; 
}

.home h2 {
  background: linear-gradient(90deg, #000080, #1084d0); 
  color: white;
  margin: 0 0 15px 0;
  padding: 4px 8px;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: bold;
}
.create_form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.create_form input {
  flex-grow: 1;
  padding: 8px;
  background-color: #ffffff;
  border: none;
  font-family: inherit;
  outline: none;

  border-top: 2px solid #808080;
  border-left: 2px solid #808080;
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
}

button {
  background-color: #c0c0c0;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 15px;
  cursor: pointer;
  
  border-top: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  border-right: 2px solid #000000;
  border-bottom: 2px solid #000000;
}

button:active {
  border-top: 2px solid #000000;
  border-left: 2px solid #000000;
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  margin-bottom: 8px;
  padding: 8px;
  
  border-top: 2px solid #808080;
  border-left: 2px solid #808080;
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
}

.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  flex-grow: 1;
}

.checkbox p {
  margin: 0 0 0 10px;
  font-size: 14px;
}

.line_through {
  text-decoration: line-through;
  color: #808080; 
}

.task span {
  cursor: pointer;
  font-size: 12px;
  background: #c0c0c0;
  padding: 2px 6px;
  border: 1px solid #000;
  box-shadow: 1px 1px 0 #000;
}

.task span:active {
  background: #000;
  color: #fff;
}